In [57]:
# Dependencies
import pandas as pd
import numpy as np
import json

In [58]:
# Store filepath in a variable
cityPPIdata = "Data/ResidentialPropertyPriceData.xls"

In [59]:
# Read data file with pandas library
cityPPI_df = pd.read_excel(cityPPIdata, 'Data1')

In [60]:
# Delete unnecessary rows / rows with null values
cityPPI_df = cityPPI_df.drop(cityPPI_df.index[0:15])

In [61]:
# Delete unnecessary columns
cityPPI_df.drop(cityPPI_df.columns[10:28], axis=1, inplace=True)

In [62]:
# Rename columns
new_columns = {cityPPI_df.columns[0]: 'FY',
    cityPPI_df.columns[1]:'Sydney',
    cityPPI_df.columns[2]:'Melbourne',
    cityPPI_df.columns[3]:'Brisbane',
    cityPPI_df.columns[4]:'Adelaide',
    cityPPI_df.columns[5]:'Perth',
    cityPPI_df.columns[6]:'Hobart',
    cityPPI_df.columns[7]:'Darwin',
    cityPPI_df.columns[8]:'Canberra',
    cityPPI_df.columns[9]:'Weighted Average'}

cityPPI_df.rename(columns=new_columns, inplace=True)

cityPPI_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64 entries, 15 to 78
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FY                64 non-null     object
 1   Sydney            64 non-null     object
 2   Melbourne         64 non-null     object
 3   Brisbane          64 non-null     object
 4   Adelaide          64 non-null     object
 5   Perth             64 non-null     object
 6   Hobart            64 non-null     object
 7   Darwin            64 non-null     object
 8   Canberra          64 non-null     object
 9   Weighted Average  64 non-null     object
dtypes: object(10)
memory usage: 5.5+ KB

In [63]:
# Convert Period to datetime format
cityPPI_df['FY'] = cityPPI_df['FY'].apply(pd.to_datetime)

In [64]:
# Select only PPI at end of FY
fy_df = cityPPI_df[cityPPI_df.FY.dt.month == 6]

In [65]:
# Convert dates to financial year
fy_df['FY'] = fy_df['FY'].map(lambda x: x.year if x.month > 3 else x.year-1)
fy_df

,FY,Sydney,Melbourne,Brisbane,Adelaide,Perth,Hobart,Darwin,Canberra,Weighted Average
16,2005,82.6,63.2,73.3,69.3,62.6,76.9,54.7,69.9,72.2
20,2006,82.3,67.2,77.5,73.4,86.4,83.4,67.1,74.3,77
24,2007,85.2,76,89,81.9,97.7,89.6,74.1,82,84.1
28,2008,87.3,85.5,101.3,93.8,97.6,95.2,78.5,87.7,90
32,2009,87.5,86.9,98.8,95.8,95.1,96.4,89,88.7,90.2
36,2010,101.4,106.2,107,104.7,106.6,103.6,100.9,101.6,104.3
40,2011,101.4,103.5,102.5,101,100.2,102.9,96.5,101.9,102
44,2012,101.4,99.3,99.9,99.6,101,98.2,104.1,99.5,100.4
48,2013,108.7,102.7,103.2,100.9,110.6,100,111,101,105.7
52,2014,126,112.1,110.5,105.6,114.8,104.1,114.7,103.3,116.4
56,2015,149.8,120.8,113.7,108.5,113.4,105.7,112.6,106.2,127.8
60,2016,155.2,130.7,118.6,112.3,108,110.9,105.3,112.6,133
64,2017,176.6,148.7,122.1,117.9,104.7,124.7,100.1,121.5,146.5
68,2018,169.8,152.1,124.2,120.4,103.8,144,94,125.2,145.6
72,2019,153.5,137.9,120.9,120.3,99.7,146.9,89.3,124.7,134.8
76,2020,165.9,150,123.7,121.1,99.5,155.8,86.9,129.2,143.2

In [66]:
# Set FY as index
idx = ['FY']
final_PPI_df = fy_df.set_index(idx)

In [69]:
#
d = final_PPI_df.to_json(orient='index')
d

'{"2005":{"Sydney":82.6,"Melbourne":63.2,"Brisbane":73.3,"Adelaide":69.3,"Perth":62.6,"Hobart":76.9,"Darwin":54.7,"Canberra":69.9,"Weighted Average":72.2},"2006":{"Sydney":82.3,"Melbourne":67.2,"Brisbane":77.5,"Adelaide":73.4,"Perth":86.4,"Hobart":83.4,"Darwin":67.1,"Canberra":74.3,"Weighted Average":77},"2007":{"Sydney":85.2,"Melbourne":76,"Brisbane":89,"Adelaide":81.9,"Perth":97.7,"Hobart":89.6,"Darwin":74.1,"Canberra":82,"Weighted Average":84.1},"2008":{"Sydney":87.3,"Melbourne":85.5,"Brisbane":101.3,"Adelaide":93.8,"Perth":97.6,"Hobart":95.2,"Darwin":78.5,"Canberra":87.7,"Weighted Average":90},"2009":{"Sydney":87.5,"Melbourne":86.9,"Brisbane":98.8,"Adelaide":95.8,"Perth":95.1,"Hobart":96.4,"Darwin":89,"Canberra":88.7,"Weighted Average":90.2},"2010":{"Sydney":101.4,"Melbourne":106.2,"Brisbane":107,"Adelaide":104.7,"Perth":106.6,"Hobart":103.6,"Darwin":100.9,"Canberra":101.6,"Weighted Average":104.3},"2011":{"Sydney":101.4,"Melbourne":103.5,"Brisbane":102.5,"Adelaide":101,"Perth":100.2,"Hobart":102.9,"Darwin":96.5,"Canberra":101.9,"Weighted Average":102},"2012":{"Sydney":101.4,"Melbourne":99.3,"Brisbane":99.9,"Adelaide":99.6,"Perth":101,"Hobart":98.2,"Darwin":104.1,"Canberra":99.5,"Weighted Average":100.4},"2013":{"Sydney":108.7,"Melbourne":102.7,"Brisbane":103.2,"Adelaide":100.9,"Perth":110.6,"Hobart":100,"Darwin":111,"Canberra":101,"Weighted Average":105.7},"2014":{"Sydney":126,"Melbourne":112.1,"Brisbane":110.5,"Adelaide":105.6,"Perth":114.8,"Hobart":104.1,"Darwin":114.7,"Canberra":103.3,"Weighted Average":116.4},"2015":{"Sydney":149.8,"Melbourne":120.8,"Brisbane":113.7,"Adelaide":108.5,"Perth":113.4,"Hobart":105.7,"Darwin":112.6,"Canberra":106.2,"Weighted Average":127.8},"2016":{"Sydney":155.2,"Melbourne":130.7,"Brisbane":118.6,"Adelaide":112.3,"Perth":108,"Hobart":110.9,"Darwin":105.3,"Canberra":112.6,"Weighted Average":133},"2017":{"Sydney":176.6,"Melbourne":148.7,"Brisbane":122.1,"Adelaide":117.9,"Perth":104.7,"Hobart":124.7,"Darwin":100.1,"Canberra":121.5,"Weighted Average":146.5},"2018":{"Sydney":169.8,"Melbourne":152.1,"Brisbane":124.2,"Adelaide":120.4,"Perth":103.8,"Hobart":144,"Darwin":94,"Canberra":125.2,"Weighted Average":145.6},"2019":{"Sydney":153.5,"Melbourne":137.9,"Brisbane":120.9,"Adelaide":120.3,"Perth":99.7,"Hobart":146.9,"Darwin":89.3,"Canberra":124.7,"Weighted Average":134.8},"2020":{"Sydney":165.9,"Melbourne":150,"Brisbane":123.7,"Adelaide":121.1,"Perth":99.5,"Hobart":155.8,"Darwin":86.9,"Canberra":129.2,"Weighted Average":143.2}}'

In [70]:
data = json.loads(d)
print(data)

{'2005': {'Sydney': 82.6, 'Melbourne': 63.2, 'Brisbane': 73.3, 'Adelaide': 69.3, 'Perth': 62.6, 'Hobart': 76.9, 'Darwin': 54.7, 'Canberra': 69.9, 'Weighted Average': 72.2}, '2006': {'Sydney': 82.3, 'Melbourne': 67.2, 'Brisbane': 77.5, 'Adelaide': 73.4, 'Perth': 86.4, 'Hobart': 83.4, 'Darwin': 67.1, 'Canberra': 74.3, 'Weighted Average': 77}, '2007': {'Sydney': 85.2, 'Melbourne': 76, 'Brisbane': 89, 'Adelaide': 81.9, 'Perth': 97.7, 'Hobart': 89.6, 'Darwin': 74.1, 'Canberra': 82, 'Weighted Average': 84.1}, '2008': {'Sydney': 87.3, 'Melbourne': 85.5, 'Brisbane': 101.3, 'Adelaide': 93.8, 'Perth': 97.6, 'Hobart': 95.2, 'Darwin': 78.5, 'Canberra': 87.7, 'Weighted Average': 90}, '2009': {'Sydney': 87.5, 'Melbourne': 86.9, 'Brisbane': 98.8, 'Adelaide': 95.8, 'Perth': 95.1, 'Hobart': 96.4, 'Darwin': 89, 'Canberra': 88.7, 'Weighted Average': 90.2}, '2010': {'Sydney': 101.4, 'Melbourne': 106.2, 'Brisbane': 107, 'Adelaide': 104.7, 'Perth': 106.6, 'Hobart': 103.6, 'Darwin': 100.9, 'Canberra': 101.6, 'Weighted Average': 104.3}, '2011': {'Sydney': 101.4, 'Melbourne': 103.5, 'Brisbane': 102.5, 'Adelaide': 101, 'Perth': 100.2, 'Hobart': 102.9, 'Darwin': 96.5, 'Canberra': 101.9, 'Weighted Average': 102}, '2012': {'Sydney': 101.4, 'Melbourne': 99.3, 'Brisbane': 99.9, 'Adelaide': 99.6, 'Perth': 101, 'Hobart': 98.2, 'Darwin': 104.1, 'Canberra': 99.5, 'Weighted Average': 100.4}, '2013': {'Sydney': 108.7, 'Melbourne': 102.7, 'Brisbane': 103.2, 'Adelaide': 100.9, 'Perth': 110.6, 'Hobart': 100, 'Darwin': 111, 'Canberra': 101, 'Weighted Average': 105.7}, '2014': {'Sydney': 126, 'Melbourne': 112.1, 'Brisbane': 110.5, 'Adelaide': 105.6, 'Perth': 114.8, 'Hobart': 104.1, 'Darwin': 114.7, 'Canberra': 103.3, 'Weighted Average': 116.4}, '2015': {'Sydney': 149.8, 'Melbourne': 120.8, 'Brisbane': 113.7, 'Adelaide': 108.5, 'Perth': 113.4, 'Hobart': 105.7, 'Darwin': 112.6, 'Canberra': 106.2, 'Weighted Average': 127.8}, '2016': {'Sydney': 155.2, 'Melbourne': 130.7, 'Brisbane': 118.6, 'Adelaide': 112.3, 'Perth': 108, 'Hobart': 110.9, 'Darwin': 105.3, 'Canberra': 112.6, 'Weighted Average': 133}, '2017': {'Sydney': 176.6, 'Melbourne': 148.7, 'Brisbane': 122.1, 'Adelaide': 117.9, 'Perth': 104.7, 'Hobart': 124.7, 'Darwin': 100.1, 'Canberra': 121.5, 'Weighted Average': 146.5}, '2018': {'Sydney': 169.8, 'Melbourne': 152.1, 'Brisbane': 124.2, 'Adelaide': 120.4, 'Perth': 103.8, 'Hobart': 144, 'Darwin': 94, 'Canberra': 125.2, 'Weighted Average': 145.6}, '2019': {'Sydney': 153.5, 'Melbourne': 137.9, 'Brisbane': 120.9, 'Adelaide': 120.3, 'Perth': 99.7, 'Hobart': 146.9, 'Darwin': 89.3, 'Canberra': 124.7, 'Weighted Average': 134.8}, '2020': {'Sydney': 165.9, 'Melbourne': 150, 'Brisbane': 123.7, 'Adelaide': 121.1, 'Perth': 99.5, 'Hobart': 155.8, 'Darwin': 86.9, 'Canberra': 129.2, 'Weighted Average': 143.2}}

In [71]:
# Convert df to json
json_data = final_PPI_df.to_json("/Users/nicksullivan/Desktop/Project-2/Data/PPI_data.json", orient="records")

In [49]:
json_data = [{'data': list(value.values), 'FY': key} for key, value in final_PPI_df.items()]

In [50]:
json_data

[{'data': [82.6,
   82.3,
   85.2,
   87.3,
   87.5,
   101.4,
   101.4,
   101.4,
   108.7,
   126,
   149.8,
   155.2,
   176.6,
   169.8,
   153.5,
   165.9],
  'FY': 'Sydney'},
 {'data': [63.2,
   67.2,
   76,
   85.5,
   86.9,
   106.2,
   103.5,
   99.3,
   102.7,
   112.1,
   120.8,
   130.7,
   148.7,
   152.1,
   137.9,
   150],
  'FY': 'Melbourne'},
 {'data': [73.3,
   77.5,
   89,
   101.3,
   98.8,
   107,
   102.5,
   99.9,
   103.2,
   110.5,
   113.7,
   118.6,
   122.1,
   124.2,
   120.9,
   123.7],
  'FY': 'Brisbane'},
 {'data': [69.3,
   73.4,
   81.9,
   93.8,
   95.8,
   104.7,
   101,
   99.6,
   100.9,
   105.6,
   108.5,
   112.3,
   117.9,
   120.4,
   120.3,
   121.1],
  'FY': 'Adelaide'},
 {'data': [62.6,
   86.4,
   97.7,
   97.6,
   95.1,
   106.6,
   100.2,
   101,
   110.6,
   114.8,
   113.4,
   108,
   104.7,
   103.8,
   99.7,
   99.5],
  'FY': 'Perth'},
 {'data': [76.9,
   83.4,
   89.6,
   95.2,
   96.4,
   103.6,
   102.9,
   98.2,
   100,
   104.1,
   105.7,
   110.9,
   124.7,
   144,
   146.9,
   155.8],
  'FY': 'Hobart'},
 {'data': [54.7,
   67.1,
   74.1,
   78.5,
   89,
   100.9,
   96.5,
   104.1,
   111,
   114.7,
   112.6,
   105.3,
   100.1,
   94,
   89.3,
   86.9],
  'FY': 'Darwin'},
 {'data': [69.9,
   74.3,
   82,
   87.7,
   88.7,
   101.6,
   101.9,
   99.5,
   101,
   103.3,
   106.2,
   112.6,
   121.5,
   125.2,
   124.7,
   129.2],
  'FY': 'Canberra'},
 {'data': [72.2,
   77,
   84.1,
   90,
   90.2,
   104.3,
   102,
   100.4,
   105.7,
   116.4,
   127.8,
   133,
   146.5,
   145.6,
   134.8,
   143.2],
  'FY': 'Weighted Average'}]