In [56]:
# Dependencies
import pandas as pd
import numpy as np

In [57]:
# Store filepath in a variable
ausPPIdata = "Data/ResidentialPropertyPriceData.xls"

In [58]:
# Read data file with pandas library
ausPPI_df = pd.read_excel(ausPPIdata, 'Data1')

In [59]:
# Delete unnecessary rows / rows with null values
ausPPI_df = ausPPI_df.drop(ausPPI_df.index[0:15])

In [60]:
# Delete unnecessary columns
ausPPI_df.drop(ausPPI_df.columns[1:9], axis=1, inplace=True)

In [61]:
ausPPI_df.drop(ausPPI_df.columns[2:20], axis=1, inplace=True)

In [62]:
ausPPI_df

,Unnamed: 0,Residential Property Price Index ; Weighted average of eight capital cities ;
15,2005-03-01 00:00:00,71.7
16,2005-06-01 00:00:00,72.2
17,2005-09-01 00:00:00,72.1
18,2005-12-01 00:00:00,73.5
19,2006-03-01 00:00:00,74.3
...,...,...
74,2019-12-01 00:00:00,143.5
75,2020-03-01 00:00:00,145.8
76,2020-06-01 00:00:00,143.2
77,2020-09-01 00:00:00,144.3
78,2020-12-01 00:00:00,148.7

In [63]:
# Rename columns
new_columns = {ausPPI_df.columns[0]: 'Period',
    ausPPI_df.columns[1]:'Weighted Average'}

ausPPI_df.rename(columns=new_columns, inplace=True)

ausPPI_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64 entries, 15 to 78
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Period            64 non-null     object
 1   Weighted Average  64 non-null     object
dtypes: object(2)
memory usage: 1.5+ KB

In [64]:
ausPPI_df

                 Period Weighted Average
15  2005-03-01 00:00:00             71.7
16  2005-06-01 00:00:00             72.2
17  2005-09-01 00:00:00             72.1
18  2005-12-01 00:00:00             73.5
19  2006-03-01 00:00:00             74.3
..                  ...              ...
74  2019-12-01 00:00:00            143.5
75  2020-03-01 00:00:00            145.8
76  2020-06-01 00:00:00            143.2
77  2020-09-01 00:00:00            144.3
78  2020-12-01 00:00:00            148.7

[64 rows x 2 columns]

In [70]:
# Store interest rate data filepath in a variable
interestRateData = "Data/InterestRateData.csv"

In [66]:
# Read data file with pandas library
interestRate_df = pd.read_excel(interestRateData, 'Data')

In [67]:
# Delete unnecessary rows / rows with null values
interestRate_df = interestRate_df.drop(interestRate_df.index[0:421])

In [68]:
# Delete unnecessary columns
interestRate_df.drop(interestRate_df.columns[2:13], axis=1, inplace=True)

In [69]:
interestRate_df

    F1.1 INTEREST RATES AND YIELDS – MONEY MARKET Unnamed: 1
421                           2003-09-30 00:00:00       4.75
422                           2003-10-31 00:00:00       4.75
423                           2003-11-30 00:00:00      4.975
424                           2003-12-31 00:00:00    5.22619
425                           2004-01-31 00:00:00       5.25
..                                            ...        ...
627                           2020-11-30 00:00:00       0.11
628                           2020-12-31 00:00:00        0.1
629                           2021-01-31 00:00:00        0.1
630                           2021-02-28 00:00:00        0.1
631                           2021-03-31 00:00:00        0.1

[211 rows x 2 columns]