In [129]:
# Dependencies
import pandas as pd
import numpy as np

In [130]:
# Store filepath in a variable
cityPPIdata = "Data/ResidentialPropertyPriceData.xls"

In [131]:
# Read data file with pandas library
cityPPI_df = pd.read_excel(cityPPIdata, 'Data1')

In [132]:
# Delete unnecessary rows / rows with null values
cityPPI_df = cityPPI_df.drop(cityPPI_df.index[0:15])

In [133]:
# Delete unnecessary columns
cityPPI_df.drop(cityPPI_df.columns[10:28], axis=1, inplace=True)

In [134]:
cityPPI_df

,Unnamed: 0,Residential Property Price Index ; Sydney ;,Residential Property Price Index ; Melbourne ;,Residential Property Price Index ; Brisbane ;,Residential Property Price Index ; Adelaide ;,Residential Property Price Index ; Perth ;,Residential Property Price Index ; Hobart ;,Residential Property Price Index ; Darwin ;,Residential Property Price Index ; Canberra ;,Residential Property Price Index ; Weighted average of eight capital cities ;
13,2004-09-01 00:00:00,84.2,60.9,71.2,67.1,54.7,72.3,46.8,68.6,70.6
14,2004-12-01 00:00:00,84.8,62.4,72,68.6,57.1,74.6,49.7,69.7,71.8
15,2005-03-01 00:00:00,83.2,62.5,72.6,68.6,59.4,75.8,53.6,70.3,71.7
16,2005-06-01 00:00:00,82.6,63.2,73.3,69.3,62.6,76.9,54.7,69.9,72.2
17,2005-09-01 00:00:00,81.4,63.1,73.6,70,65.2,76.7,56.1,70.1,72.1
...,...,...,...,...,...,...,...,...,...,...
74,2019-12-01 00:00:00,166.4,150.4,124,121.6,99.6,152.8,87.5,128,143.5
75,2020-03-01 00:00:00,169.6,153.5,124.8,122.1,100.2,156.5,88.1,128.2,145.8
76,2020-06-01 00:00:00,165.9,150,123.7,121.1,99.5,155.8,86.9,129.2,143.2
77,2020-09-01 00:00:00,167.6,149.6,125.6,123,100.9,157.7,87.6,130.3,144.3
78,2020-12-01 00:00:00,172.6,154.7,129,126.2,103.8,162.6,89.5,134.7,148.7

In [135]:
# Rename columns
new_columns = {cityPPI_df.columns[0]: 'Period',
    cityPPI_df.columns[1]:'Sydney',
    cityPPI_df.columns[2]:'Melbourne',
    cityPPI_df.columns[3]:'Brisbane',
    cityPPI_df.columns[4]:'Adelaide',
    cityPPI_df.columns[5]:'Perth',
    cityPPI_df.columns[6]:'Hobart',
    cityPPI_df.columns[7]:'Darwin',
    cityPPI_df.columns[8]:'Canberra',
    cityPPI_df.columns[9]:'Weighted Average'}

cityPPI_df.rename(columns=new_columns, inplace=True)

cityPPI_df.head()

,Period,Sydney,Melbourne,Brisbane,Adelaide,Perth,Hobart,Darwin,Canberra,Weighted Average
13,2004-09-01 00:00:00,84.2,60.9,71.2,67.1,54.7,72.3,46.8,68.6,70.6
14,2004-12-01 00:00:00,84.8,62.4,72,68.6,57.1,74.6,49.7,69.7,71.8
15,2005-03-01 00:00:00,83.2,62.5,72.6,68.6,59.4,75.8,53.6,70.3,71.7
16,2005-06-01 00:00:00,82.6,63.2,73.3,69.3,62.6,76.9,54.7,69.9,72.2
17,2005-09-01 00:00:00,81.4,63.1,73.6,70,65.2,76.7,56.1,70.1,72.1

In [136]:
# Reshape data from wide to long
idx = ['Period']
multi_indexed_df = cityPPI_df.set_index(idx)
multi_indexed_df

,Sydney,Melbourne,Brisbane,Adelaide,Perth,Hobart,Darwin,Canberra,Weighted Average
Period,,,,,,,,,
2004-09-01,84.2,60.9,71.2,67.1,54.7,72.3,46.8,68.6,70.6
2004-12-01,84.8,62.4,72,68.6,57.1,74.6,49.7,69.7,71.8
2005-03-01,83.2,62.5,72.6,68.6,59.4,75.8,53.6,70.3,71.7
2005-06-01,82.6,63.2,73.3,69.3,62.6,76.9,54.7,69.9,72.2
2005-09-01,81.4,63.1,73.6,70,65.2,76.7,56.1,70.1,72.1
...,...,...,...,...,...,...,...,...,...
2019-12-01,166.4,150.4,124,121.6,99.6,152.8,87.5,128,143.5
2020-03-01,169.6,153.5,124.8,122.1,100.2,156.5,88.1,128.2,145.8
2020-06-01,165.9,150,123.7,121.1,99.5,155.8,86.9,129.2,143.2
2020-09-01,167.6,149.6,125.6,123,100.9,157.7,87.6,130.3,144.3
2020-12-01,172.6,154.7,129,126.2,103.8,162.6,89.5,134.7,148.7

In [137]:
# Stack data
stacked_df = multi_indexed_df.stack(dropna=False)

In [138]:
stacked_df

Period
2004-09-01  Sydney               84.2
            Melbourne            60.9
            Brisbane             71.2
            Adelaide             67.1
            Perth                54.7
                                ...
2020-12-01  Perth               103.8
            Hobart              162.6
            Darwin               89.5
            Canberra            134.7
            Weighted Average    148.7
Length: 594, dtype: object

In [139]:
final_PPI_df = stacked_df.reset_index()

In [140]:
final_PPI_df

        Period           level_1      0
0   2004-09-01            Sydney   84.2
1   2004-09-01         Melbourne   60.9
2   2004-09-01          Brisbane   71.2
3   2004-09-01          Adelaide   67.1
4   2004-09-01             Perth   54.7
..         ...               ...    ...
589 2020-12-01             Perth  103.8
590 2020-12-01            Hobart  162.6
591 2020-12-01            Darwin   89.5
592 2020-12-01          Canberra  134.7
593 2020-12-01  Weighted Average  148.7

[594 rows x 3 columns]

In [141]:
final_PPI_df = final_PPI_df.rename(columns={'level_1':'City', 0:'PPI'})
final_PPI_df

        Period              City    PPI
0   2004-09-01            Sydney   84.2
1   2004-09-01         Melbourne   60.9
2   2004-09-01          Brisbane   71.2
3   2004-09-01          Adelaide   67.1
4   2004-09-01             Perth   54.7
..         ...               ...    ...
589 2020-12-01             Perth  103.8
590 2020-12-01            Hobart  162.6
591 2020-12-01            Darwin   89.5
592 2020-12-01          Canberra  134.7
593 2020-12-01  Weighted Average  148.7

[594 rows x 3 columns]