In [47]:
# Dependencies
import pandas as pd
import numpy as np

In [48]:
# Store filepath in a variable
cityPPIdata = "Data/ResidentialPropertyPriceData.xls"

In [49]:
# Read data file with pandas library
cityPPI_df = pd.read_excel(cityPPIdata, 'Data1')

In [50]:
# Delete unnecessary rows / rows with null values
cityPPI_df = cityPPI_df.drop(cityPPI_df.index[0:15])

In [51]:
# Delete unnecessary columns
cityPPI_df.drop(cityPPI_df.columns[9:28], axis=1, inplace=True)

In [52]:
# Rename columns
new_columns = {cityPPI_df.columns[0]: 'FY',
    cityPPI_df.columns[1]:'NSW',
    cityPPI_df.columns[2]:'VIC',
    cityPPI_df.columns[3]:'QLD',
    cityPPI_df.columns[4]:'SA',
    cityPPI_df.columns[5]:'WA',
    cityPPI_df.columns[6]:'TAS',
    cityPPI_df.columns[7]:'NT',
    cityPPI_df.columns[8]:'ACT'}

cityPPI_df.rename(columns=new_columns, inplace=True)

cityPPI_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64 entries, 15 to 78
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   FY      64 non-null     object
 1   NSW     64 non-null     object
 2   VIC     64 non-null     object
 3   QLD     64 non-null     object
 4   SA      64 non-null     object
 5   WA      64 non-null     object
 6   TAS     64 non-null     object
 7   NT      64 non-null     object
 8   ACT     64 non-null     object
dtypes: object(9)
memory usage: 5.0+ KB

In [53]:
# Convert Period to datetime format
cityPPI_df['FY'] = cityPPI_df['FY'].apply(pd.to_datetime)

In [54]:
# Select only PPI at end of FY
fy_df = cityPPI_df[cityPPI_df.FY.dt.month == 6]

In [55]:
# Convert dates to financial year
fy_df['FY'] = fy_df['FY'].map(lambda x: x.year if x.month > 3 else x.year-1)
fy_df

      FY    NSW    VIC    QLD     SA     WA    TAS     NT    ACT
16  2005   82.6   63.2   73.3   69.3   62.6   76.9   54.7   69.9
20  2006   82.3   67.2   77.5   73.4   86.4   83.4   67.1   74.3
24  2007   85.2     76     89   81.9   97.7   89.6   74.1     82
28  2008   87.3   85.5  101.3   93.8   97.6   95.2   78.5   87.7
32  2009   87.5   86.9   98.8   95.8   95.1   96.4     89   88.7
36  2010  101.4  106.2    107  104.7  106.6  103.6  100.9  101.6
40  2011  101.4  103.5  102.5    101  100.2  102.9   96.5  101.9
44  2012  101.4   99.3   99.9   99.6    101   98.2  104.1   99.5
48  2013  108.7  102.7  103.2  100.9  110.6    100    111    101
52  2014    126  112.1  110.5  105.6  114.8  104.1  114.7  103.3
56  2015  149.8  120.8  113.7  108.5  113.4  105.7  112.6  106.2
60  2016  155.2  130.7  118.6  112.3    108  110.9  105.3  112.6
64  2017  176.6  148.7  122.1  117.9  104.7  124.7  100.1  121.5
68  2018  169.8  152.1  124.2  120.4  103.8    144     94  125.2
72  2019  153.5  137.9  120.9  120.3   99.7  146.9   89.3  124.7
76  2020  165.9    150  123.7  121.1   99.5  155.8   86.9  129.2

In [56]:
# Reshape data from wide to long
idx = ['FY']
multi_indexed_df = fy_df.set_index(idx)
stacked_df = multi_indexed_df.stack(dropna=False)
final_df = stacked_df.reset_index()
final_df

       FY level_1      0
0    2005     NSW   82.6
1    2005     VIC   63.2
2    2005     QLD   73.3
3    2005      SA   69.3
4    2005      WA   62.6
..    ...     ...    ...
123  2020      SA  121.1
124  2020      WA   99.5
125  2020     TAS  155.8
126  2020      NT   86.9
127  2020     ACT  129.2

[128 rows x 3 columns]

In [57]:
# Rename columns
final_df = final_df.rename(columns={'level_1':'State',0:'PPI'})

## Create Unemployment Dataframe

In [107]:
# Store filepath in a variable
unemploymentData = "Data/UnemploymentData.xls"

In [108]:
# Read data file with pandas library
unemployment_df = pd.read_excel(unemploymentData, 'Data2')

In [109]:
# Delete unnecessary rows / rows with null values
unemployment_df = unemployment_df.drop(unemployment_df.index[0:316])

In [110]:
# Delete unnecessary columns
unemployment_df.drop(unemployment_df.columns[1:153], axis=1, inplace=True)

In [111]:
unemployment_df.drop(unemployment_df.columns[23:200], axis=1, inplace=True)

In [112]:
unemployment_df.drop(unemployment_df.columns[[1,2,4,5,7,8,10,11,13,14,16,17,19,21]], axis=1, inplace=True)

In [113]:
unemployment_df

,Unnamed: 0,Unemployment rate ; Persons ; > New South Wales ;.2,Unemployment rate ; Persons ; > Victoria ;.2,Unemployment rate ; Persons ; > Queensland ;.2,Unemployment rate ; Persons ; > South Australia ;.2,Unemployment rate ; Persons ; > Western Australia ;.2,Unemployment rate ; Persons ; > Tasmania ;.2,Unemployment rate ; Persons ; > Northern Territory ;.1,Unemployment rate ; Persons ; > Australian Capital Territory ;.1
316,2003-09-01 00:00:00,5.66337,5.43815,6.13739,5.98724,6.20121,7.49899,6.63928,3.96879
317,2003-10-01 00:00:00,5.24099,5.27893,5.73718,5.88938,5.65508,7.04182,5.66896,3.35032
318,2003-11-01 00:00:00,5.28068,4.79022,5.38298,5.82951,5.71087,6.96217,4.34965,3.44659
319,2003-12-01 00:00:00,5.25987,5.5164,5.92363,6.17233,5.61773,6.46808,5.16009,3.88137
320,2004-01-01 00:00:00,5.7128,5.84673,6.58643,6.94385,6.33345,6.53629,5.35706,4.09295
...,...,...,...,...,...,...,...,...,...
522,2020-11-01 00:00:00,5.99723,6.69187,6.85042,6.1248,6.11391,7.47476,6.13714,3.61866
523,2020-12-01 00:00:00,6.15967,6.29833,6.88578,6.16308,6.10253,6.92065,4.84097,3.58333
524,2021-01-01 00:00:00,6.41736,6.88494,7.53505,7.54105,6.8879,6.2283,5.97513,4.80504
525,2021-02-01 00:00:00,6.01189,6.15485,6.66672,7.26357,6.45086,5.90915,5.14282,4.81022
526,2021-03-01 00:00:00,5.71532,6.35616,6.29261,6.60492,5.2644,6.00127,5.75411,3.81416