In [24]:
# Dependencies
import pandas as pd
import numpy as np
import json

In [25]:
# Store filepath in a variable
cityPPIdata = "Data/ResidentialPropertyPriceData.xls"

In [26]:
# Read data file with pandas library
cityPPI_df = pd.read_excel(cityPPIdata, 'Data1')

In [27]:
# Delete unnecessary rows / rows with null values
cityPPI_df = cityPPI_df.drop(cityPPI_df.index[0:15])

In [28]:
# Delete unnecessary columns
cityPPI_df.drop(cityPPI_df.columns[10:28], axis=1, inplace=True)

In [29]:
# Rename columns
new_columns = {cityPPI_df.columns[0]: 'FY',
    cityPPI_df.columns[1]:'Sydney',
    cityPPI_df.columns[2]:'Melbourne',
    cityPPI_df.columns[3]:'Brisbane',
    cityPPI_df.columns[4]:'Adelaide',
    cityPPI_df.columns[5]:'Perth',
    cityPPI_df.columns[6]:'Hobart',
    cityPPI_df.columns[7]:'Darwin',
    cityPPI_df.columns[8]:'Canberra',
    cityPPI_df.columns[9]:'Weighted Average'}

cityPPI_df.rename(columns=new_columns, inplace=True)

cityPPI_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64 entries, 15 to 78
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FY                64 non-null     object
 1   Sydney            64 non-null     object
 2   Melbourne         64 non-null     object
 3   Brisbane          64 non-null     object
 4   Adelaide          64 non-null     object
 5   Perth             64 non-null     object
 6   Hobart            64 non-null     object
 7   Darwin            64 non-null     object
 8   Canberra          64 non-null     object
 9   Weighted Average  64 non-null     object
dtypes: object(10)
memory usage: 5.5+ KB

In [30]:
# Convert Period to datetime format
cityPPI_df['FY'] = cityPPI_df['FY'].apply(pd.to_datetime)

In [32]:
# Select only PPI at end of FY
fy_df = cityPPI_df[cityPPI_df.FY.dt.month == 6]

In [33]:
# Convert dates to financial year
fy_df['FY'] = fy_df['FY'].map(lambda x: x.year if x.month > 3 else x.year-1)
fy_df

,FY,Sydney,Melbourne,Brisbane,Adelaide,Perth,Hobart,Darwin,Canberra,Weighted Average
16,2005,82.6,63.2,73.3,69.3,62.6,76.9,54.7,69.9,72.2
20,2006,82.3,67.2,77.5,73.4,86.4,83.4,67.1,74.3,77
24,2007,85.2,76,89,81.9,97.7,89.6,74.1,82,84.1
28,2008,87.3,85.5,101.3,93.8,97.6,95.2,78.5,87.7,90
32,2009,87.5,86.9,98.8,95.8,95.1,96.4,89,88.7,90.2
36,2010,101.4,106.2,107,104.7,106.6,103.6,100.9,101.6,104.3
40,2011,101.4,103.5,102.5,101,100.2,102.9,96.5,101.9,102
44,2012,101.4,99.3,99.9,99.6,101,98.2,104.1,99.5,100.4
48,2013,108.7,102.7,103.2,100.9,110.6,100,111,101,105.7
52,2014,126,112.1,110.5,105.6,114.8,104.1,114.7,103.3,116.4
56,2015,149.8,120.8,113.7,108.5,113.4,105.7,112.6,106.2,127.8
60,2016,155.2,130.7,118.6,112.3,108,110.9,105.3,112.6,133
64,2017,176.6,148.7,122.1,117.9,104.7,124.7,100.1,121.5,146.5
68,2018,169.8,152.1,124.2,120.4,103.8,144,94,125.2,145.6
72,2019,153.5,137.9,120.9,120.3,99.7,146.9,89.3,124.7,134.8
76,2020,165.9,150,123.7,121.1,99.5,155.8,86.9,129.2,143.2

In [39]:
# Set FY as index
idx = ['FY']
final_PPI_df = fy_df.set_index(idx)

In [42]:
# Convert df to json
final_PPI_df.to_json("/Users/nicksullivan/Desktop/Project-2/Data/PPI_data.json", orient="index")