In [9]:
# Dependencies
import pandas as pd
import numpy as np

## Create PPI dataframe

In [10]:
# Store filepath in a variable
PPIdata = "Data/ResidentialPropertyPriceData.xls"

In [11]:
# Read data file with pandas library
PPI_df = pd.read_excel(PPIdata, 'Data1')

In [12]:
# Delete unnecessary rows / rows with null values
PPI_df = PPI_df.drop(PPI_df.index[0:15])

In [13]:
# Delete unnecessary columns
PPI_df.drop(PPI_df.columns[9:28], axis=1, inplace=True)

In [14]:
# Rename columns
new_columns = {PPI_df.columns[0]: 'FY',
    PPI_df.columns[1]:'NSW',
    PPI_df.columns[2]:'VIC',
    PPI_df.columns[3]:'QLD',
    PPI_df.columns[4]:'SA',
    PPI_df.columns[5]:'WA',
    PPI_df.columns[6]:'TAS',
    PPI_df.columns[7]:'NT',
    PPI_df.columns[8]:'ACT'}

PPI_df.rename(columns=new_columns, inplace=True)

PPI_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64 entries, 15 to 78
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   FY      64 non-null     object
 1   NSW     64 non-null     object
 2   VIC     64 non-null     object
 3   QLD     64 non-null     object
 4   SA      64 non-null     object
 5   WA      64 non-null     object
 6   TAS     64 non-null     object
 7   NT      64 non-null     object
 8   ACT     64 non-null     object
dtypes: object(9)
memory usage: 5.0+ KB

In [15]:
# Convert Period to datetime format
PPI_df['FY'] = PPI_df['FY'].apply(pd.to_datetime)

In [16]:
# Select only PPI at end of FY
PPI_fy_df = PPI_df[PPI_df.FY.dt.month == 6]

In [17]:
# Convert dates to financial year
PPI_fy_df['FY'] = PPI_fy_df['FY'].map(lambda x: x.year if x.month > 3 else x.year-1)
PPI_fy_df

      FY    NSW    VIC    QLD     SA     WA    TAS     NT    ACT
16  2005   82.6   63.2   73.3   69.3   62.6   76.9   54.7   69.9
20  2006   82.3   67.2   77.5   73.4   86.4   83.4   67.1   74.3
24  2007   85.2     76     89   81.9   97.7   89.6   74.1     82
28  2008   87.3   85.5  101.3   93.8   97.6   95.2   78.5   87.7
32  2009   87.5   86.9   98.8   95.8   95.1   96.4     89   88.7
36  2010  101.4  106.2    107  104.7  106.6  103.6  100.9  101.6
40  2011  101.4  103.5  102.5    101  100.2  102.9   96.5  101.9
44  2012  101.4   99.3   99.9   99.6    101   98.2  104.1   99.5
48  2013  108.7  102.7  103.2  100.9  110.6    100    111    101
52  2014    126  112.1  110.5  105.6  114.8  104.1  114.7  103.3
56  2015  149.8  120.8  113.7  108.5  113.4  105.7  112.6  106.2
60  2016  155.2  130.7  118.6  112.3    108  110.9  105.3  112.6
64  2017  176.6  148.7  122.1  117.9  104.7  124.7  100.1  121.5
68  2018  169.8  152.1  124.2  120.4  103.8    144     94  125.2
72  2019  153.5  137.9  120.9  120.3   99.7  146.9   89.3  124.7
76  2020  165.9    150  123.7  121.1   99.5  155.8   86.9  129.2

In [18]:
# Reshape data from wide to long
idx = ['FY']
multi_indexed_df = PPI_fy_df.set_index(idx)
stacked_df = multi_indexed_df.stack(dropna=False)
final_PPI_df = stacked_df.reset_index()
final_PPI_df

       FY level_1      0
0    2005     NSW   82.6
1    2005     VIC   63.2
2    2005     QLD   73.3
3    2005      SA   69.3
4    2005      WA   62.6
..    ...     ...    ...
123  2020      SA  121.1
124  2020      WA   99.5
125  2020     TAS  155.8
126  2020      NT   86.9
127  2020     ACT  129.2

[128 rows x 3 columns]

In [19]:
# Rename columns
final_PPI_df = final_PPI_df.rename(columns={'level_1':'State',0:'PPI'})

In [20]:
# Create primary key by combining FY and State
final_PPI_df['ID'] = final_PPI_df['State'] + final_PPI_df['FY'].astype(str)

In [21]:
final_PPI_df

       FY State    PPI       ID
0    2005   NSW   82.6  NSW2005
1    2005   VIC   63.2  VIC2005
2    2005   QLD   73.3  QLD2005
3    2005    SA   69.3   SA2005
4    2005    WA   62.6   WA2005
..    ...   ...    ...      ...
123  2020    SA  121.1   SA2020
124  2020    WA   99.5   WA2020
125  2020   TAS  155.8  TAS2020
126  2020    NT   86.9   NT2020
127  2020   ACT  129.2  ACT2020

[128 rows x 4 columns]

## Create Unemployment Dataframe

In [22]:
# Store filepath in a variable
unemploymentData = "Data/UnemploymentData.xls"

In [23]:
# Read data file with pandas library
unemployment_df = pd.read_excel(unemploymentData, 'Data2')

In [24]:
# Delete unnecessary rows / rows with null values
unemployment_df = unemployment_df.drop(unemployment_df.index[0:316])

In [25]:
# Delete unnecessary columns
unemployment_df.drop(unemployment_df.columns[1:153], axis=1, inplace=True)

In [26]:
unemployment_df.drop(unemployment_df.columns[23:200], axis=1, inplace=True)

In [27]:
unemployment_df.drop(unemployment_df.columns[[1,2,4,5,7,8,10,11,13,14,16,17,19,21]], axis=1, inplace=True)

In [28]:
# Rename columns
new_columns = {unemployment_df.columns[0]: 'FY',
    unemployment_df.columns[1]:'NSW',
    unemployment_df.columns[2]:'VIC',
    unemployment_df.columns[3]:'QLD',
    unemployment_df.columns[4]:'SA',
    unemployment_df.columns[5]:'WA',
    unemployment_df.columns[6]:'TAS',
    unemployment_df.columns[7]:'NT',
    unemployment_df.columns[8]:'ACT'}

unemployment_df.rename(columns=new_columns, inplace=True)

unemployment_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 211 entries, 316 to 526
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   FY      211 non-null    object
 1   NSW     211 non-null    object
 2   VIC     211 non-null    object
 3   QLD     211 non-null    object
 4   SA      211 non-null    object
 5   WA      211 non-null    object
 6   TAS     211 non-null    object
 7   NT      211 non-null    object
 8   ACT     211 non-null    object
dtypes: object(9)
memory usage: 16.5+ KB

In [29]:
# Convert Period to datetime format
unemployment_df['FY'] = unemployment_df['FY'].apply(pd.to_datetime)

In [30]:
# Select only unemployment rate at end of FY
fy_unempl_df = unemployment_df[unemployment_df.FY.dt.month == 6]

In [31]:
# Convert dates to financial year
fy_unempl_df['FY'] = fy_unempl_df['FY'].map(lambda x: x.year if x.month > 3 else x.year-1)
fy_unempl_df

,FY,NSW,VIC,QLD,SA,WA,TAS,NT,ACT
325,2004,5.31379,5.12719,5.52304,6.07295,4.98032,6.54754,6.22881,3.19697
337,2005,4.90549,4.99568,4.58313,5.15285,4.63335,5.62567,4.84487,2.88107
349,2006,5.22125,4.83133,4.44137,4.48122,3.37102,6.34288,4.7716,2.49706
361,2007,4.52417,4.46524,3.50859,4.68258,3.73347,4.88635,4.61224,3.00885
373,2008,4.52152,4.47485,3.6687,4.51107,3.17858,3.76989,3.63655,2.3073
385,2009,6.3467,5.89572,5.41771,5.15257,5.41842,4.16053,3.48079,3.60555
397,2010,5.1316,5.28224,5.12455,5.07409,4.08216,5.99522,2.7305,3.21459
409,2011,5.16498,4.46191,5.05185,4.69165,4.23693,5.03287,3.42289,4.08542
421,2012,5.09099,5.28634,5.02925,5.93073,3.47514,6.94437,4.32455,3.81939
433,2013,5.30128,5.63206,6.14036,5.56463,4.56657,8.67053,5.85224,3.64912
445,2014,5.61029,6.27138,6.1622,6.78229,4.91493,7.23717,5.08306,3.36365
457,2015,5.6233,5.73209,5.86278,7.92101,5.76003,6.42851,4.74885,3.6036
469,2016,5.0348,5.3956,6.25979,6.99122,5.56796,6.54031,3.61212,3.07201
481,2017,4.64903,5.62019,6.41864,6.41548,5.3065,5.48763,3.14649,4.71188
493,2018,4.5465,5.26738,5.91037,5.27552,5.7042,5.65061,4.30348,3.20579
505,2019,4.50873,4.54811,6.56648,5.80573,5.27116,6.59417,4.4253,2.3044
517,2020,6.71453,7.1049,7.88245,8.41194,7.97744,6.7524,5.32834,4.1237

In [32]:
# Reshape data from wide to long
idx = ['FY']
multi_indexed_df2 = fy_unempl_df.set_index(idx)
stacked_df2 = multi_indexed_df2.stack(dropna=False)
final_unempl_df = stacked_df2.reset_index()
final_unempl_df

       FY level_1        0
0    2004     NSW  5.31379
1    2004     VIC  5.12719
2    2004     QLD  5.52304
3    2004      SA  6.07295
4    2004      WA  4.98032
..    ...     ...      ...
131  2020      SA  8.41194
132  2020      WA  7.97744
133  2020     TAS   6.7524
134  2020      NT  5.32834
135  2020     ACT   4.1237

[136 rows x 3 columns]

In [33]:
# Rename columns
final_unempl_df = final_unempl_df.rename(columns={'level_1':'State',0:'UnemploymentRate'})

In [34]:
# Create primary key by combining FY and State
final_unempl_df['ID'] = final_unempl_df['State'] + final_unempl_df['FY'].astype(str)

In [35]:
final_unempl_df

       FY State UnemploymentRate       ID
0    2004   NSW          5.31379  NSW2004
1    2004   VIC          5.12719  VIC2004
2    2004   QLD          5.52304  QLD2004
3    2004    SA          6.07295   SA2004
4    2004    WA          4.98032   WA2004
..    ...   ...              ...      ...
131  2020    SA          8.41194   SA2020
132  2020    WA          7.97744   WA2020
133  2020   TAS           6.7524  TAS2020
134  2020    NT          5.32834   NT2020
135  2020   ACT           4.1237  ACT2020

[136 rows x 4 columns]

## Merge dataframes

In [36]:
merged_df = final_PPI_df.merge(final_unempl_df)

In [37]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128 entries, 0 to 127
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FY                128 non-null    int64
 1   State             128 non-null    object
 2   PPI               128 non-null    object
 3   ID                128 non-null    object
 4   UnemploymentRate  128 non-null    object
dtypes: int64(1), object(4)
memory usage: 6.0+ KB

In [38]:
# Convert df to csv
merged_df.to_csv("/Users/nicksullivan/Desktop/Project-2/Data/PPIvsUnemployment.csv")

## Connect to pgAdmin

In [68]:
from sqlalchemy import create_engine

In [69]:
rds_connection_string = f"postgres:password@localhost:5432/project2_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [70]:
# Load data
file = "Data/PPIvsInterestRate.csv"

# Read file and store into pandas df
PPIvsInterestRate_df = pd.read_csv(file)

# Test whether data has been read
PPIvsInterestRate_df.head()

          Date  WeightedAverage  TargetCashRate
0  31-Mar-2005             71.7             5.5
1  30-Jun-2005             72.2             5.5
2  30-Sep-2005             72.1             5.5
3  31-Dec-2005             73.5             5.5
4  31-Mar-2006             74.3             5.5

In [71]:
# Read in database to sql
PPIvsInterestRate_df.to_sql(name='PPIvsInterestRate_df', con=engine, if_exists='replace', index=False)